<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Welcome to Spring Boot Auth0 Tutorial</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
</head>
<body>
<div class="container authenticated">
    <h2>Welcome</h2>
    <p>Spring Boot Auth0 Tutorial - Page visible to authenticated users.</p>

    <div>
        <span th:text="|Hello ${#authentication.principal.userInfo.claims.get('name')}! This is a secured page.|"></span>
    </div>
</div>

<div class="container authenticated">
    <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="submit" class="btn btn-primary" th:value="Logout"/>
    </form>
</div>

</body>
</html>