<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container unauthenticated">
    <h2>Login Page</h2>
    <a href="/oauth2/authorization/auth0" class="btn btn-primary" role="button">Login with Auth0</a>
</div>
</body>
</html>